app = "nameless-water-5259"

[build]
image = "ghcr.io/haskellweekly/haskellweekly:latest"

[env]
BASE_URL = "https://haskellweekly.news"

[[services]]
internal_port = 8080
protocol = "tcp"

[[services.http_checks]]
path = "/health-check"

[[services.ports]]
force_https = true
handlers = ["http"]
port = 80

[[services.ports]]
handlers = ["tls", "http"]
port = 443
